
button:hover, a:hover {
    opacity: 0.7;
}

body {
    background-image: url(../img/topography.png);
}

.description {
  font-style: italic;
  font-weight: lighter;
}
.jumbotron {
  background-color:transparent !important;
  font-family: 'Amatic SC', cursive;
}

.jumbotron img {
  padding-bottom: ;
  box-shadow: 5px 5px;
}

.jumbotron
p
a {
  float: left
}

.card img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  padding-top: 20px;
  text-align: center;
}

.card-text {
  padding-bottom: 20px;
}

.btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.card-deck-wrapper {
  margin-bottom: 20px;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

blockquote {
  text-align: center;
}

h5 {
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}

dd {
  font-style: italic;
}

#footer {
  text-align: center;
  font-size: 10px;
  font-style: oblique;
  font-weight: lighter;
}

.social {
  text-align: center;
}
