
button:hover, a:hover {
    opacity: 0.7;
}



.jumbotron img {
  padding-bottom: 20px;
}

.my-4 {
  clear: right;
}

.navbar navbar-dark bg-primary {
  padding-top: 600px;
}

.card img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  padding-top: 20px;
   
}
